mkdocs==1.6.0
mkdocs-material==9.5.27
pymdown-extensions==10.8.1
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-glightbox==0.3.7
Babel==2.15.0

mkdocs-material
mkdocs-jupyter
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
